* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
p {
	font-size: 16px;
}
.controlled-text {
	overflow: hidden;
	text-overflow: ellipsis;
}
.container-fluid {
	background: #fff;
	padding: 0 !important;
	.header {
		height: 55px;
		background: #000;
		color: #fff;
		.actions-holder {
			.filter-tasks {
				display: inline-block;
			    width: 120px;
			    height: 55px;
			    .filter-name {
		    	    padding: 10px;
			    }
			    .dropdown-toggle {
			    	width: 100%;
    				height: 100%;
    				border: none;
			    	border-radius: 0;
		    	    background: #9f9eab;
		    	    color: #fff;
			    }
			    .dropdown-menu {
		    		border-radius: 0;
    				-webkit-box-shadow: none;
    				box-shadow: none;
    				margin: 0;
    				padding: 0;
    				border-top: none;
    				border-right: none;
    				min-width: 177px;
    				li {
    					padding: 5px;
    					&:hover{
    						background: red;
    					}
    					a:hover {
    						background: none;
    						color: #fff;
    					}
    				}
		    	}
			}
			.add-task {
			    height: 55px;
			    padding: 10px;
			    background: #1eb31e;
			    outline: none;
			    border: none;
			}
		}
		h2 {
			margin: 0;
		    padding: 10px 0 0 15px;
		    display: inline-block;
		}
	}
	.tasks-list {
		width: 100%;
	    display: flex;
	    list-style-type: none;
	    flex-wrap: wrap;
	    height: 100%;
	    background: #fff;
        padding: 15px 0 0 15px;
		li {
		    flex-basis: 30%;
		    height: 180px;
		    background: blue;
		    margin-bottom: 20px;
		    margin-right: 20px;
		    overflow: hidden;
		    .task {
		    	height: 100%;
			    background: #eee;
    			box-shadow: 2px 2px 6px 2px #ddd;
    			.task-detail {
    				padding: 10px;
    				height: calc(100% - 32px);
    				h3 {
	    				text-align: center;
	    				margin: 10px 0 15px 0;
	    			}	
    			}
    			.task-actions {
    				    display: flex;
					    justify-content: space-between;
					    flex-grow: 1;
					    .action {
				    	    width: 100%;
						    color: #fff;
						    border: none;
						    border-radius: 0px;
						    &.delete {
							    background-color: #ca0a1c;
							}
							 &.complete {
							    background-color: #0fa00f;
							}
					    }
    			}
			}
		}
	}
	#add-task-modal {
		.modal-dialog {
			top: 150px;
		}
		form {
			.task-name {
			    display: block;
			    margin-bottom: 20px;
			    border: none;
			    border-bottom: 1px solid rgba(8,8,8,0.5);
			    outline: none;
			    &:focus {
			    	border-bottom: 1px solid rgba(8,8,8,1);
			    }
			}
			.task-description {
				display: block;
			    width: 100%;
			    height: 65px;
			    outline: none;
			    border: 1px solid rgba(8,8,8,0.5);
			    resize: vertical;
			    &:focus {
			    	border: 1px solid rgba(8,8,8,1);
			    }
			}
		}
	}
}

@media only screen and (max-width: 500px) {
	.controlled-text {
		overflow: hidden;
		text-overflow: ellipsis;
		word-wrap: break-word;
	}
	.container-fluid {
		padding-right: 0;
		.tasks-list {
			li {
			    flex-basis: 40%;
			    flex-grow: 1;
			    min-height: 180px;
			    height:auto;
			}
		}
		.filter-tasks {
			    .dropdown-menu {
			    	border-bottom: none;
    				li {
    					border-bottom: 1px solid rgba(0,0,0,.15);
    				}
		    	}
		}    	
	}
}

@media screen and (min-width: 768px) {
	#add-task-modal {
		.modal-dialog {
			width: 45%;
		}
	}
}


